{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    
</style>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container">
        <div class="position-relative">
          <div class="row">
            <div class="col-6 mt-4 m-auto" >
              <div class="card">
                <div class="card-header">
                    <h3>Studient Login Page</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" value="{{ last_username }}" name="email" class="form-control" placeholder="Username" autocomplete="email" required autofocus aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required aria-labelledby="passwordHelpBlock">
                            <div id="passwordHelpBlock" class="form-text">
                                Your password must be 6-20 characters long
                            </div>
                        </div>
                    </form>    
                
      
    
  

    
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    <hr>
    <div class="mb-3">
        Not registred ? <a href="{{ path('app_register') }}">register now</a>
    </div>
</div>
</form>
{% endblock %}
